*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f2029;
    color: #EAEEFF;
    font-size: .9rem; 
    font-family: sans-serif;  
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.react-tooltip {    
    position: absolute;
    z-index: 10;
}